# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Django local files
db.sqlite3
media/
items/
uploads/

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Django static and collected files
/static/
/staticfiles/
/mediafiles/
/assets/

# IDE / Editor
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
